<div class="container py-3">
  <h2 class="clash-title">⚔️⭐️Clash Royale⭐️⚔️</h2>
  <div class="clash-separator">
    <span class="clash-separator-icon">⚔️⭐️</span>
    <span class="clash-separator-line"></span>
    <span class="clash-separator-icon">⭐️⚔️</span>
  </div>
  @if (data && isArray(data)) {
    <div class="unit-list">
  @for (item of data; track item) {
        <a class="unit-card" [routerLink]="['/data-view', item.Unit]" style="text-decoration:none; color:inherit; cursor:pointer;">
          <img *ngIf="item.image_url" [src]="getImageUrl(item)" alt="Unit image" class="unit-img" />
          <div *ngIf="!item.image_url" class="img-error">Immagine inesistente</div>
          <hr class="unit-separator" />
          <span class="unit-title">{{ item.Unit }}</span>
        </a>
      }
    </div>
  }
  @if (data && !isArray(data)) {
    <pre>{{ data | json }}</pre>
  }
  @if (!data) {
    <p>Nessun dato disponibile.</p>
  }
</div>
